<div class="container margin-top-30">
  <h3>
    <span>List Teachers</span>
    <button class="btn btn-primary float-right" [routerLink]="['../update-teachers']">
      <i class="fa fa-plus"></i>
      <span class="margin-left-5">New Teacher</span>
    </button>
  </h3>
  <table class="table margin-top-30 table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Teacher name</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teacher of teachers">
      <th scope="row" class="click" [routerLink]="['../teachers-details', teacher.id]">{{teacher.id}}</th>
      <td>{{teacher.teacherName}}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-info btn-sm" [routerLink]="['../teachers-details', teacher.id]">
            <i class="fa fa-eye"></i>
            <span class="margin-left-5">View</span>
          </button>
          <button type="button" class="btn btn-primary btn-sm" [routerLink]="['../update-teachers', teacher.id]">
            <i class="fa fa-pencil"></i>
            <span class="margin-left-5">Edit</span>
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteTeacher(teacher.id)">
            <i class="fa fa-times"></i>
            <span class="margin-left-5">Delete</span>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
